In [5]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
base_url ="https://www.olx.com.pk"
headers = {'User-Agent':"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:97.0) Gecko/20100101 Firefox/97.0"}

In [29]:
productlinks=[]
lists_in_lists=[]
for x in range(29,33):
    r= requests.get(f'https://www.olx.com.pk/rahimyar-khan_g4060680/vehicles_c5?page={x}')
    soup=BeautifulSoup(r.content,'lxml')
    lists= soup.find_all("div",{"class":"_1075545d _219a34cf"})
    if lists is not None:
        lists_in_lists.append(lists)
    # This is not null
    if lists is None:
        lists_in_lists.append(None)
        # This is null
    print(lists)
#     for listupdate in lists:
#             print(listupdate)
            
#         for classget in listupdate.find_all("div",{"class":"f9eefd6a"}):
#             lists_in_lists.append(classget)
    
    
    #print(lists_in_lists)
#     productlink_lists=soup.find_all("div",{"class":"_41d2b9f3"})
#     for items in productlink_lists:
#         for link in items.find_all('a',href=True,title=True):
#             productlinks.append(base_url+link['href'])
# print(productlinks)

[]
[]
[<div class="_1075545d _219a34cf"><div class="f9eefd6a">Unfortunately we haven't found anything in Rahimyar Khan, Punjab.</div></div>]
[<div class="_1075545d _219a34cf"><div class="f9eefd6a">Unfortunately we haven't found anything in Rahimyar Khan, Punjab.</div></div>]

In [20]:
info_all={}
info_no=0
details_no = 0 
data_all_name = 0
time = 0
year = 0
km = 0
price = 0
condition = 0
make = 0
model = 0
regisered_in = 0
fuel = 0
link_list = []
if lists == []:
    for link in productlinks:
        r=requests.get(link,headers=headers)
        soup=BeautifulSoup(r.content,'lxml')
        details= soup.find_all("div",{"class":"_676a547f"})
        name=soup.find('h1',{"class":'a38b8112'})
        NAME=name.text
        images=soup.find_all('img',{"class":"_56c02b4d"})
        description=soup.find('div',class_='_0f86855a').text.strip()
        info_no+=1
        for image in images:
            images_links=image['src']
            link_list.append(images_links)
            s = ",".join(link_list)
        print('Name:',NAME,'\n')
        ##print('Image_Link',image_link,'\n')
        print('Description:',description,'\n')
        for detail in details:
            data_all= detail.find("div",{"class":"b44ca0b3"}).text 
            data_all2= detail.find('div',class_='b44ca0b3').find_all('span')[1]
            time = data_all2.text.strip() if data_all2 else "N/A"
            data_name= detail.find('div',class_='b44ca0b3').find_all('span')[0]
            details_no+=1
            data_all_name = data_name.text if data_name else "N/A"
            if data_name.text == "Year": 
                year = time
            if data_name.text == "Price":
                price = time
            if data_name.text == "Model":
                model = time
            if data_name.text == "Registered in":
                regisered_in = time
            if data_name.text == "KM's driven":
                km = time
            if data_name.text == "Make":
                make = time
            if data_name.text == "Fuel":
                fuel = time
            if data_name.text == "Condition":
                condition = time
    print(NAME,s,description,year,make,fuel,price,condition,km,regisered_in)
    info_all[info_no]=[NAME,s,description,year,make,fuel,price,condition,km,regisered_in] 
else:
    ##Page=lists.text
    ##if Page=="Unfortunately we haven't found anything in Rahimyar Khan, Punjab.":
    print("Unfortunately we haven't found anything in Rahimyar Khan, Punjab.")
    
 
#         print(data_all_name,':')
#         print(time,"\n")

Unfortunately we haven't found anything in Rahimyar Khan, Punjab.

In [7]:
info_all_df3=pd.DataFrame.from_dict(info_all,orient='index',columns=['Name','Image_Link','description','year','make','fuel','price','condition','Km driven','regisered_in'])

In [8]:
info_all_df3.head()

,Name,Image_Link,description,year,make,fuel,price,condition,Km driven,regisered_in
1,ac and hetar on hay LCD backcamra on hay remot...,https://images.olx.com.pk/thumbnails/231744735...,candition like new car original file orginal n...,2004,Suzuki,Petrol,"530,000",Used,"376,610",0
2,Honda city 2016 model,https://images.olx.com.pk/thumbnails/231744735...,Honda city 2016 model thori c teach ap ha lush...,2016,Honda,Petrol,"2,050,000",Used,"55,000",0
3,ٹویوٹا بیلٹا کار برائے فروخت,https://images.olx.com.pk/thumbnails/231744735...,ٹیوٹا بیٹا کار برائے فروخت 2007 بٹ2010 س,2010,Toyota,Petrol,"1,380,000",Used,20,0
4,Toyota Revo 2017,https://images.olx.com.pk/thumbnails/231744735...,Toyota Revo 2017\nkarachi Registered\nSpeciall...,2017,Toyota,Diesel,"6,300,000",Used,"60,000",0
5,Honda civic 2010 model full option,https://images.olx.com.pk/thumbnails/231744735...,honda civic 2010 vti oriel prosmatic full opti...,2010,Honda,Petrol,"1,775,000",New,"135,000",0

In [9]:
info_all_df3.to_csv('olx12.csv')